QWidget {
    font-family: 'Latin Modern Roman Caps';
}
QPushButton {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}

QPushButton#pushButton:disabled {
    opacity: 0.3;
}

#clientButton , #serverButton, #routerButton {
    font-size: 50px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 24px;
}

h1 {
    font-weight: bold;
    font size: 30px; 
}
